/*GLOBAL*/
body {
    background: #EDE9E5;
    overflow-x: hidden;
  }
  
  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 24pt;
  }
  
  .sub-title-white {
    color: #EDE9E5;
  }
  @media only screen and (max-width: 375px) {
    .sub-title-white {
      margin-left: 0.7em;
    }
  }
  
  .sub-title-black {
    color: #333333;
  }
  @media only screen and (max-width: 375px) {
    .sub-title-black {
      margin-left: 0.7em;
    }
  }
  
  /*TOP VAR*/
  .container-fluid {
    margin: 0%;
    padding: 0%;
  }
  
  .top-var {
    width: 100%;
    background: #2F4056;
    color: #EDE9E5;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: fixed;
    z-index: 9999999;
  }
  @media only screen and (max-width: 375px) {
    .top-var {
      height: 5em;
    }
  }
  
  .top-nav {
    padding: 1.5em 0em 1.5em 0em;
    margin: 0%;
    float: right;
    position: relative;
    right: 25em;
  }
  
  .top-nav-item {
    padding: 0.6em 1em;
    margin: 0%;
    display: inline-block;
  }
  
  .logo {
    margin: 1.5em;
  }
  @media only screen and (max-width: 375px) {
    .logo {
      width: 146, 5px;
      height: 22.5px;
      position: relative;
      right: 1em;
    }
  }
  
  .bell {
    margin: 1em;
    position: relative;
    left: 47em;
  }
  @media only screen and (max-width: 375px) {
    .bell {
      display: none;
    }
  }
  
  .user {
    margin: 1em;
    position: relative;
    left: 47em;
  }
  @media only screen and (max-width: 375px) {
    .user {
      display: none;
    }
  }
  
  #icon-pointer:hover {
    cursor: pointer;
  }
  
  .pink-Square-item:hover {
    border: solid #FA617B;
    padding: 0.5em;
    cursor: pointer;
    color: #EDE9E5;
  }
  
  .link-nav {
    text-decoration: none;
    color: #EDE9E5;
  }
  
  /*TOP VAR*/
  /*GLOBAL*/
  /*CONTENT*/
  .content {
    position: relative;
    right: 3em;
    top: 8em;
  }
  
  .img {
    margin: 2em 0em 2em 0em;
  }
  
  .numbers {
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    color: #333333;
    margin-left: 6.5em;
    cursor: pointer;
  }
  
  .number {
    background: #FA617B;
    color: #EDE9E5;
    padding: 5px;
    font-size: 16pt;
  }
  
  .icon18 {
    position: relative;
    right: 5em;
    top: 6em;
  }
  
  .subtitle {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18pt;
  }
  @media only screen and (max-width: 375px) {
    .subtitle {
      margin-left: 0.7em;
    }
  }
  
  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #333333;
  }
  @media only screen and (max-width: 375px) {
    p {
      position: relative;
      bottom: 3em;
      margin: 0%;
      padding: 0%;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .move-around {
      margin-top: 3.5em;
      margin-left: 1.2em;
      margin-bottom: 2em;
    }
  }
  
  .important {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 14pt;
    color: #333333;
  }
  @media only screen and (max-width: 375px) {
    .important {
      margin-left: 1.2em;
    }
  }
  
  .btn {
    background: #FA617B;
    color: #EDE9E5;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18;
    width: 50%;
  }
  @media only screen and (max-width: 375px) {
    .btn {
      margin-left: 1.2em;
    }
  }
  
  .btn:hover {
    color: #EDE9E5;
  }
  
  /*FOOTER*/
  .footer {
    background: #2F4056;
    color: #EDE9E5;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding: 3em 0em 3em 5.5em;
    position: relative;
    top: 12em;
  }
  @media only screen and (max-width: 375px) {
    .footer {
      padding: 3em 0em 3em 1.7em;
    }
  }
  
  .bottom-nav-item {
    padding: 0em;
    margin: 0%;
    display: inline-block;
  }
  
  .bottom-nav-link {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #EDE9E5;
    font-weight: 700;
  }
  
  .bottom-nav-link:hover {
    color: #EDE9E5;
  }
  
  .margin-bottom {
    margin: 0em 0em 0em 1em;
    padding: 0em;
    position: relative;
    right: 1em;
  }
  
  .bottom-simbol {
    margin: 0em 1em 0em 1em;
  }
  
  /*FOOTER*/